<?xml version="1.0" encoding="utf-8" ?>
<root name="flickr">
	<include file="example/configuration/ModuleConfiguration.xml"/>
	<include file="example/configuration/ServiceConfiguration.xml"/>
	<include file="js/example/configuration/ViewConfiguration.xml" if="build-js"/>
	<include file="flash/example/configuration/ViewConfiguration.xml" if="build-flash"/>
</root>